.comments {
	display: flex;
	flex-wrap: wrap;
	&__box {
		width: 25%;
		height: 50%;
		position: relative;
		overflow: hidden;
		& img {
			min-width: 100%;
    		min-height: 100%;
			filter: grayscale(100%);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover .comments__hide{
			opacity: 1;
		}
	}
	&__hide {
		width: 100%;
		height: 100%;
		background: rgba(20, 20, 20, 0.7);
		position: absolute;
		top: 0;
		left: 0;
		box-sizing: border-box;
		padding: 42px 20px 50px;
		transition: 0.3s ease-out;
		opacity: 0;
	}
	&__title {
		@include gagalin;
		font-size: 14px;
		line-height: 28px;
		color: #fff;
		text-transform: uppercase;
	}
	&__desc {
		@include u-light;
		font-size: 14px;
		line-height: 24px;
		color: #fff;
		margin-bottom: 24px;
	}
	&__btn {
		@include u-medium;
		font-size: 13px;
		line-height: 30px;
		color: #fff;
		text-transform: uppercase;
		padding: 4px 16px;
		background-color: #2f3234;
		border-radius: 5px;
		cursor: pointer;
		&:hover {
			background-color: #1f2122;
		}
	}
}