.header {
    display: flex;
    align-items: center;;
    padding-top: 12px;
}
.nav {
    margin-left: auto;
    &__menu {
        display: flex;
        &-item {
            padding: 0 16px;
            position: relative;
            &::after {
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                top: 50%;
                right: -2px;
                transform: translateY(-50%);
            }
            &--last {
                padding-right: 16px;
                &::after {
                    display: none;
                    
                }
            }
        }
        &-link {
            @include u-medium;
            font-size: 13px;
            color: #fff;
            text-transform: uppercase;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.order-button {
    display: inline-block;
    padding: 10px 14px;
    border-radius: 5px;
    background-color: #e45028;
    @include u-medium;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s ease-out;
    &:hover {
        background-color: #c1401e;
    }
}