.home {
	background: #000 url('../img/bg-1.jpg') center no-repeat;
	background-size: cover;
}
.welcom-message {
	display: flex;
	align-items: center;
	padding-bottom: 84px;
	&__burger {
		padding-left: 16px;
	}
	&__title {
		padding: 50px 0 0 14px;
	}
}
.more {
	align-self: center;
	margin-bottom: 40px;
}