@mixin gagalin {
	font-family: 'gagalin-regular';
}
@mixin u-bold {
	font-family: 'ubuntu-bold';
}
@mixin u-light {
	font-family: 'ubuntu-light';
}
@mixin u-medium {
	font-family: 'ubuntu-medium';
}
@mixin life {
	font-family: 'lifehack-medium';
}