@import '_normalize.scss';
@import '_media.scss';
@import '_fonts.scss';
@import '_vars.scss';

//breakpoints
$tablets: 768px;
$phones: 480px;

//default
html {
    font-size: 16px;
    @include tablets {
        font-size: rem(15px);
  	}
    @include phones {
        font-size: rem(14px);
    }
}
html,
body {
  height: 100%;
}
body {
  font-family: ubuntu, sans-serif;
	font-size: rem(16px);
	color: #2f3234;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
a {
    text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
p {
  padding: 0;
  margin: 0;
}
img {
	max-width: 100%;
}
* {
	box-sizing: border-box;
}
:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}
textarea {
	resize: none;
}
button {
	border: 0;
}
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
	margin: 0 auto;
    width: 95%;
    max-width: 940px;
    min-height: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--home {
    	justify-content: space-between;
    }
    &--footer {
      flex-direction: row;
      justify-content: space-between;
      @include phones() {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
}
.title {
	@include gagalin;
	font-size: rem(72px);
	color: #2f3234;
	text-transform: uppercase;
	&--color_yellow {
		color: $yellow;
	}
  &--color_white {
    color: #fff;
  }
	&--text_center {
		text-align: center;
	}
}

//sections
@import 'sections/_header';
@import 'sections/_home';
@import 'sections/_advantage';
@import 'sections/_team';
@import 'sections/_menu';
@import 'sections/_comments';
@import 'sections/_order';
@import 'sections/_map';
@import 'sections/_footer';
@import 'sections/_dots';
