.order {
	background: url('../img/bg-order.jpg') center no-repeat;
	background-size: cover;	
}
.form {
	display: flex;
	flex-wrap: wrap;
	padding-top: rem(32px);
	@include u-light;
	@include tablets() {
			justify-content: center;
		}
	&__box {
		width: 50%;
		&--left {
			padding-right: rem(10px);
		}
		&--right {
			padding-left: rem(10px);
			@include phones() {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
		@include tablets() {
			width: 66%;
			padding: 0;
		}
		@include phones() {
			width: 100%;
		}
	}
	&__row {
		display: flex;
		margin-bottom: rem(16px);
		&--textarea {
			width: 100%;
			margin-bottom: rem(8px);
		}
	}
	&__label {
		flex: 1;
		margin-left: rem(20px);
		&:first-child {
			margin-left: 0;
		}
		&--radio {
			flex: inherit;
			display: flex;
			align-items: center;
		}
		&--checkbox {
			flex: inherit;
			display: flex;
			align-items: center;
		}
	}
	&__input-title {
		display: block;
		font-size: rem(14px);
		line-height: rem(24px);
		color: #fff;
		&--radio {
			display: inline-block;
		}
		&--checkbox {
			display: inline-block;
		}
	}
	&__input {
		width: 100%;
		height: rem(34px);
		line-height: rem(34px);
		border: rem(2px) solid #d1cfcb;
		border-radius: rem(5px);
		padding: 0 rem(20px);
		color: #2f3234;
		&:focus {
			border: rem(2px) solid $yellow;
		}
	}
	&__textarea {
		height: rem(108px);
	}
	&__radio {
		display: none;
		&-imitation {
			display: inline-block;
			width: rem(14px);
			height: rem(14px);
			background-color: #fff;
			border-radius: 50%;
			position: relative;
			margin-right: rem(10px);
		}
		&:checked + .form__radio-imitation:after {
			content: '';
			width: rem(7px);
			height: rem(7px);
			background-color: #c1401e;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);	
		}
	}
	&__checkbox {
		display: none;
		&-imitation {
			display: inline-block;
			width: rem(14px);
			height: rem(14px);
			background-color: #fff;
			position: relative;
			margin-right: rem(10px);
		}
		&:checked+.form__checkbox-imitation:after {
			content: '';
			width: 100%;
			height: 100%;
			background: url('../img/checkbox.png') center no-repeat;
			position: absolute;
			top: 0;
			left: 0;	
		}
	}
}
